@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
/*Use Courier font throughout app*/
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

body {
  background-color: #F5F5F2;
}

body {
  font-family: 'Cinzel', sans-serif;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 1.6rem;
  padding: 50px;
}

bodyStyle : 'background:none', // Removes the default white background

/*Colour hyperlinks*/
a {
  color: #800080;
}

a:hover {
  color: #ad1d28;
}

/*Colour of nav bar Title*/
.navbar-default .navbar-brand{
  color: #ad1d28;
}

/*Colour of nav bar tabs when hovering and active*/
.navbar-default .navbar-nav > .active > a, 
                           .navbar-default .navbar-nav > .active > a:focus, 
                           .navbar-default .navbar-nav > .active > a:hover {
                                color: #ad1d28;
                            }
